h4 {
    text-align: center;
}

#Ei {
    color: rgb(250, 63, 216);
}

#ha {
    color: rgb(192, 47, 214);
}

.Wow {
    text-decoration: underline;
}

img {
    margin: auto;
    display: block;
    border: 2px solid red;
    border-radius: 20px;
    box-shadow: 0 0 10px black;

}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(231, 95, 118);
}

a:hover {
    font-size: 32px;
    background-color: orange;
    color: blue
}